# To apply to svn, type: 'svn propset svn:ignore -F .gitignore .'
# ... the caveat is you'd need a .gitignore in each subfolder
#
# Ignore the basin data (since it is in svn)
/parm/LICENSE.md
/parm/README.md
/parm/.svn
/parm/bnt
/parm/dta
/parm/dta_o
/parm/dta_m
/parm/tidefile.ec2014
#
# Ignore .o and exec files in sorc
/sorc/envutil.cd/*.o
/sorc/rexout.cd/*.o
/sorc/slosh.fd/*.o
/sorc/stm2trk.cd/*.o
#
# Ignore compiled executables for which we have source code
/exec/envutil
/exec/envutil.exe
/exec/rexout
/exec/rexout.exe
/exec/slosh
/exec/slosh_mpi
/exec/sloshDos.exe
/exec/sloshLinux
/exec/stm2trk.exe
/exec/stm2trk
/gui/exec/sloshGui.exe
#
# Ignore /work in dev
/dev/log/*
/dev/workActive/*
/dev/workPoe/*
/dev/workPara_n?/*
#
# Ignore sample storms (/testTrk and /testAns)
/storms/testTrk/*
/storms/testAns/*
#
# Ignore tar folders
/tar/*
#
# Ignore GUI folders
/gui/.svn
/gui/.svnignore
/gui/exec
/gui/geodata
/gui/include
/gui/lib
/gui/sloshrun.ini
/gui/work
