# Ignore the executables
exec
sorc/slosh/sloshDos.exe
sorc/stm2trk/stm2trk.exe
sorc/slosh/*.o
util/*.exe
# Ignore the basin files
parm/bnt
parm/dta
parm/tar
# Ignore the test files
dev/sample
dev/storms
dev/work
dev/tar
